html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body::-webkit-scrollbar {
  width: 6px;
  background: #fafcff;
}
body::-webkit-scrollbar-thumb {
  background: #0d253c;;
  border-radius: 2px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}

.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 383px;
  padding: 8rem;
  background-color: #376AED;
  color: #ffffff;
  font-weight: normal;
}